{% if session.get('dataset') == "arquivopt" %}
  {% extends 'layouts/arquivopt/main.html' %}
{% elif session.get('dataset') == "tls-covid19" %}
  {% extends 'layouts/tlscovid/main.html' %}
{% endif %}

{% block title %}{{ _('Media') }}{% endblock %}
{% block content %}

<div id="main-hero" class="hero-body">
    <div class="container">
        <h1 class="title is-1">{{ _('nos media') }}</h1>
    </div>
</div>

<section class="section help-section">
    <div class="container">
        <div class="columns is-vcentered">
            <div class="column">

                <div class="flex-card category-card light-bordered">
                    <div class="card">
                        <header class="card-header">
                            <h2 class="card-header-title" style="color: #033F72; font-weight:400; font-size: 1.75em; padding: 1.5rem;"> Público </h2>
                        </header>
                        <div class="card-content" style="padding: 1.5em !important;">
                            <div class="content">
                                <h2 class="title" style="font-size: 1.5em;"> <a target="_blank"
                                    href="https://www.publico.pt/2019/12/27/ciencia/noticia/abrem-ja-janeiro-candidaturas-premio-arquivopt-2020-1898622">Abrem já em Janeiro as candidaturas para o Prémio Arquivo.pt 2020</a>
                                </h2>
                                As candidaturas estão abertas até 4 de Maio e o prémio principal vai até aos dez mil euros.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flex-card category-card light-bordered">
                    <div class="card">
                        <header class="card-header">
                            <h2 class="card-header-title" style="color: #033F72; font-weight:400; font-size: 1.75em; padding: 1.5rem;"> BIP INESC TEC </h2>
                        </header>
                        <div class="card-content" style="padding: 1.5em !important;">
                            <div class="content">
                                <h2 class="title" style="font-size: 1.5em;"> <a target="_blank"
                                    href="https://bip.inesctec.pt/noticias/apps-do-yake-e-conta-me-historias-ja-estao-disponiveis-no-google-play/">Apps do YAKE! e Conta-me Histórias já estão disponíveis no Google Play</a>
                                </h2>
                                Os projetos de investigação científica YAKE! e Conta-me Histórias já se encontram disponíveis em formato app no Google Play.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flex-card category-card light-bordered">
                    <div class="card">
                        <header class="card-header">
                            <h2 class="card-header-title" style="color: #033F72; font-weight:400; font-size: 1.75em; padding: 1.5rem;"> Universidade do Porto </h2>
                        </header>
                        <div class="card-content" style="padding: 1.5em !important;">
                            <div class="content">
                                <h2 class="title" style="font-size: 1.5em;"> <a target="_blank"
                                    href="https://www.dcc.fc.up.pt/site/noticias/ecir-2019">Docente e Alumni do DCC ganham Best Demo Presentation</a>
                                </h2>
                                Best Demo Presentation da conferência ECIR 2019.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flex-card category-card light-bordered">
                    <div class="card">
                        <header class="card-header">
                            <h2 class="card-header-title" style="color: #033F72; font-weight:400; font-size: 1.75em; padding: 1.5rem;"> Forum Estudante </h2>
                        </header>
                        <div class="card-content" style="padding: 1.5em !important;">
                            <div class="content">
                                <h2 class="title" style="font-size: 1.5em;"> <a target="_blank"
                                    href="http://www.ccc.ipt.pt/~ricardo/ficheiros/ForumEstudante.pdf">Contar Histórias sobre a História. Fórum Estudante, pg 61-62</a>
                                </h2>
                                Projeto vencedor da primeira edição dos Prémios Arquivo.pt utiliza a informação armazenada no Arquivo da Web Portuguesa para oferecer uma “narrativa temporal” que mostra notícias publicadas sobre um tema.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flex-card category-card light-bordered">
                    <div class="card">
                        <header class="card-header">
                            <h2 class="card-header-title" style="color: #033F72; font-weight:400; font-size: 1.75em; padding: 1.5rem;"> BIP INESC TEC </h2>
                        </header>
                        <div class="card-content" style="padding: 1.5em !important;">
                            <div class="content">
                                <h2 class="title" style="font-size: 1.5em;"> <a target="_blank"
                                    href="http://bip-archive.inesctec.pt/197/noticia-ev07.html">Conta-me Histórias e Unexmin na Noite Europeia dos Investigadores</a>
                                </h2>
                                Dois projetos desenvolvidos por equipas do INESC TEC foram apresentados na Noite Europeia dos Investigadores, uma iniciativa da Comissão Europeia e que ocorre em simultâneo em mais de 30 países e 300 cidades por toda a Europa.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flex-card category-card light-bordered">
                    <div class="card">
                        <header class="card-header">
                            <h2 class="card-header-title" style="color: #033F72; font-weight:400; font-size: 1.75em; padding: 1.5rem;"> Rádio Comercial </h2>
                        </header>
                        <div class="card-content" style="padding: 1.5em !important;">
                            <div class="content">
                                <h2 class="title" style="font-size: 1.5em;"> <a target="_blank"
                                    href="https://radiocomercial.iol.pt/noticias/88751/arquivo-pt-pesquisar-paginas-online-do-passado-pode-render-10-mil-euros">Arquivo.pt: Pesquisar páginas online do passado pode render 10 mil euros</a>
                                </h2>
                                Projeto gratuito que preserva milhões de páginas da web tem em curso o processo de
                                candidaturas até 3 de maio.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flex-card category-card light-bordered">
                    <div class="card">
                        <header class="card-header">
                            <h2 class="card-header-title" style="color: #033F72; font-weight:400; font-size: 1.75em; padding: 1.5rem;"> 90 Segundos de Ciência </h2>
                        </header>
                        <div class="card-content" style="padding: 1.5em !important;">
                            <div class="content">
                                <h2 class="title" style="font-size: 1.5em;"> <a target="_blank"
                                    href="https://www.90segundosdeciencia.pt/episodes/ep-580-ricardo-campos/">EP. 580 Ricardo Campos - "Conta-me Histórias", O arquivo de notícias que permite viajar no tempo</a>
                                </h2>
                                Mais que um arquivo de sites e notícias em português, esta plataforma permite ao
                                utilizador pesquisar por um certo tema e acompanhar a sua evolução ao longo do
                                tempo.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flex-card category-card light-bordered">
                    <div class="card">
                        <header class="card-header">
                            <h2 class="card-header-title" style="color: #033F72; font-weight:400; font-size: 1.75em; padding: 1.5rem;"> Público </h2>
                        </header>
                        <div class="card-content" style="padding: 1.5em !important;">
                            <div class="content">
                                <h2 class="title" style="font-size: 1.5em;"> <a target="_blank"
                                    href="https://www.publico.pt/2019/01/24/ciencia/noticia/arquivopt-viagem-web-portuguesa-premeia-projectos-inovadores-1858823">Arquivo.pt: uma viagem pela Web portuguesa que premeia projectos inovadores</a>
                                </h2>
                                Preservar a informação na Web portuguesa para futura memória e investigação é o
                                principal objectivo do Arquivo.pt. Para se mostrar a utilidade deste projecto,
                                lança-se a segunda edição do seu prémio.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flex-card category-card light-bordered">
                    <div class="card">
                        <header class="card-header">
                            <h2 class="card-header-title" style="color: #033F72; font-weight:400; font-size: 1.75em; padding: 1.5rem;"> BIP INESC TEC </h2>
                        </header>
                        <div class="card-content" style="padding: 1.5em !important;">
                            <div class="content">
                                <h2 class="title" style="font-size: 1.5em;"> <a target="_blank"
                                    href="http://bip-archive.inesctec.pt/195/destaque.html">Plataforma de notícias premiada com 10 mil euros tem know-how português</a>
                                </h2>
                                Chama-se "Conta-me Histórias" a nova plataforma portuguesa agregadora de notícias que foi premiada com 10 mil euros pela obtenção do primeiro lugar no âmbito dos prémios Arquivo.pt 2018.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flex-card category-card light-bordered">
                    <div class="card">
                        <header class="card-header">
                            <h2 class="card-header-title" style="color: #033F72; font-weight:400; font-size: 1.75em; padding: 1.5rem;"> FCCN </h2>
                        </header>
                        <div class="card-content" style="padding: 1.5em !important;">
                            <div class="content">
                                <h2 class="title" style="font-size: 1.5em;"> <a target="_blank"
                                    href="https://www.fccn.pt/conhecidos-os-vencedores-dos-premios-arquivo-pt/">Conhecidos os vencedores dos prémios Arquivo.pt</a>
                                </h2>
                                Primeira edição contou com 27 candidaturas. Os três prémios foram entregues pelo
                                Comissário Europeu para a Investigação, Ciência e Inovação, Carlos Moedas.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flex-card category-card light-bordered">
                    <div class="card">
                        <header class="card-header">
                            <h2 class="card-header-title" style="color: #033F72; font-weight:400; font-size: 1.75em; padding: 1.5rem;"> Rádio TSF </h2>
                        </header>
                        <div class="card-content" style="padding: 1.5em !important;">
                            <div class="content">
                                <h2 class="title" style="font-size: 1.5em;"> <a target="_blank"
                                    href="https://www.tsf.pt/sociedade/ciencia-e-tecnologia/interior/conta-me-historias-xutos-inspiram-projeto-premiado-9554297.html">"Conta-me Histórias": Xutos inspiram projeto premiado</a>
                                </h2>
                                A plataforma "Conta-me Histórias" foi distinguida com o Prémio Arquivo.pt, atribuído
                                a trabalhos inovadores de investigação ou aplicação de recursos preservados da Web,
                                através dos serviços de pesquisa e acesso disponibilizados publicamente pelo
                                Arquivo.pt.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flex-card category-card light-bordered">
                    <div class="card">
                        <header class="card-header">
                            <h2 class="card-header-title" style="color: #033F72; font-weight:400; font-size: 1.75em; padding: 1.5rem;"> Sapo 24 </h2>
                        </header>
                        <div class="card-content" style="padding: 1.5em !important;">
                            <div class="content">
                                <h2 class="title" style="font-size: 1.5em;"> <a target="_blank"
                                    href="https://24.sapo.pt/tecnologia/artigos/conta-me-historias-uma-plataforma-onde-as-noticias-tem-memoria">Conta-me Histórias. Uma plataforma onde as notícias têm memória</a>
                                </h2>
                                Investigadores do Porto desenvolveram uma plataforma agregadora de notícias, que
                                possibilita aos utilizadores aceder a informações contextualizadas, com recurso a
                                uma linha do tempo, e criar narrativas temporais sobre diferentes assuntos.
                            </div>
                        </div>
                    </div>
                </div>

                <!-- <div class="flex-card category-card light-bordered">
                    <div class="card-body">
                        <a target="_blank"
                            href="https://www.lusa.pt/article/24464991/plataforma-agregadora-de-not%C3%ADcias-criada-no-porto-permite-criar-narrativas-temporais">
                            <div class="icon">
                                Lusa
                            </div>
                            <div class="inner-content">
                                <h2 class="title is-4">Plataforma agregadora de notícias criada no Porto permite criar
                                    narrativas temporais</h2>
                                <div class="inner-text">
                                    Investigadores do Porto desenvolveram uma plataforma
                                    agregadora de notícias, que possibilita aos utilizadores aceder a informações
                                    contextualizadas, com recurso a uma linha do tempo, e criar narrativas temporais
                                    sobre diferentes assuntos.
                                </div>
                            </div>
                        </a>
                    </div>
                </div> -->

                <div class="flex-card category-card light-bordered">
                    <div class="card">
                        <header class="card-header">
                            <h2 class="card-header-title" style="color: #033F72; font-weight:400; font-size: 1.75em; padding: 1.5rem;"> Universidade do Porto </h2>
                        </header>
                        <div class="card-content" style="padding: 1.5em !important;">
                            <div class="content">
                                <h2 class="title" style="font-size: 1.5em;"> <a target="_blank"
                                    href="https://noticias.up.pt/plataforma-de-noticias-com-know-how-inesc-tec-premiada/">Plataforma de notícias com know-how INESC TEC premiada</a>
                                </h2>
                                Chama-se "Conta-me Histórias" a nova plataforma portuguesa agregadora de notícias
                                que acaba de ser premiada.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flex-card category-card light-bordered">
                    <div class="card">
                        <header class="card-header">
                            <h2 class="card-header-title" style="color: #033F72; font-weight:400; font-size: 1.75em; padding: 1.5rem;"> INESC TEC </h2>
                        </header>
                        <div class="card-content" style="padding: 1.5em !important;">
                            <div class="content">
                                <h2 class="title" style="font-size: 1.5em;"> <a target="_blank"
                                    href="https://www.inesctec.pt/pt/noticias/plataforma-de-noticias-com-know-how-inesc-tec-recebe-premio-de-10-mil-euros">Plataforma de notícias com know-how INESC TEC recebe prémio</a>
                                </h2>
                                Chama-se "Conta-me Histórias" a nova plataforma portuguesa agregadora de notícias
                                que acaba de ser premiada com 10 mil euros pela obtenção do primeiro lugar no âmbito
                                dos prémios Arquivo.pt 2018. A entrega decorreu dia 3 de julho no Encontro Ciência
                                2018, na sessão plenária “Novas fronteiras da era digital na Europa e no Mundo”, que
                                contou com a presença do Comissário para a Investigação, Ciência e Inovação da
                                Comissão Europeia, Carlos Moedas.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flex-card category-card light-bordered">
                    <div class="card">
                        <header class="card-header">
                            <h2 class="card-header-title" style="color: #033F72; font-weight:400; font-size: 1.75em; padding: 1.5rem;"> Press Release </h2>
                        </header>
                        <div class="card-content" style="padding: 1.5em !important;">
                            <div class="content">
                                <h2 class="title" style="font-size: 1.5em;"> <a target="_blank"
                                    href="https://www.inesctec.pt/pt/press-releases/nova-plataforma-de-noticias-portuguesa-recebe-premio-no-valor-de-10-mil-euros">Nova plataforma de notícias portuguesa recebe prémio</a>
                                </h2>
                                Press release oficial.
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Videos -->

                <div class="flex-card category-card light-bordered">
                    <div class="card">
                        <header class="card-header">
                            <h2 class="card-header-title" style="color: #033F72; font-weight:400; font-size: 1.75em; padding: 1.5rem;">Tome Café com o Arquivo - Conta-me Histórias, Junho 2020</h2>
                        </header>
                        <div class="card-image" style="padding: 1.5rem;">
                            <figure class="image is-16by9">
                                <iframe class="has-ratio" width="640" height="360" src="https://www.youtube.com/embed/thzUIB4BKNA" frameborder="0" allowfullscreen></iframe>
                            </figure>
                        </div>
                    </div>
                </div>

                <div class="flex-card category-card light-bordered">
                    <div class="card">
                        <header class="card-header">
                            <h2 class="card-header-title" style="color: #033F72; font-weight:400; font-size: 1.75em; padding: 1.5rem;">Conta-me Histórias no Dia Mundial da Preservação Web, Novembro 2018</h2>
                        </header>
                        <div class="card-image" style="padding: 1.5rem;">
                            <figure class="image is-16by9">
                                <iframe class="has-ratio" width="640" height="360" src="https://www.youtube.com/embed/ur4pXReYAVI" frameborder="0" allowfullscreen></iframe>
                            </figure>
                        </div>
                    </div>
                </div>

                <div class="flex-card category-card light-bordered">
                    <div class="card">
                        <header class="card-header">
                            <h2 class="card-header-title" style="color: #033F72; font-weight:400; font-size: 1.75em; padding: 1.5rem;">Arquivo.pt 2018 Award Winners, Outubro 2018</h2>
                        </header>
                        <div class="card-image" style="padding: 1.5rem;">
                            <figure class="image is-16by9">
                                <iframe class="has-ratio" width="640" height="360" src="https://www.youtube.com/embed/EQ700e2Jt3c" frameborder="0" allowfullscreen></iframe>
                            </figure>
                        </div>
                    </div>
                </div>

                <div class="flex-card category-card light-bordered">
                    <div class="card">
                        <header class="card-header">
                            <h2 class="card-header-title" style="color: #033F72; font-weight:400; font-size: 1.75em; padding: 1.5rem;">Primeiro Classificado dos Prémios Arquivo.pt 2018, Julho 2018</h2>
                        </header>
                        <div class="card-image" style="padding: 1.5rem;">
                            <figure class="image is-16by9">
                                <iframe class="has-ratio" width="640" height="360" src="https://www.youtube.com/embed/2ZX7qaXiGv8" frameborder="0" allowfullscreen></iframe>
                            </figure>
                        </div>
                    </div>
                </div>

                <div class="flex-card category-card light-bordered">
                    <div class="card">
                        <header class="card-header">
                            <h2 class="card-header-title" style="color: #033F72; font-weight:400; font-size: 1.75em; padding: 1.5rem;">Entrevista na rádio TSF, Julho 2018</h2>
                        </header>
                        <div class="card-image" style="padding: 1.5rem;">
                            <figure class="image is-16by9">
                                <iframe class="has-ratio" width="640" height="360" src="https://www.youtube.com/embed/hQ9YfizntS4" frameborder="0" allowfullscreen></iframe>
                            </figure>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

{% endblock %}