<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">

    <title>{% block title %}{% endblock %}</title>

    <link rel="icon" href="{{ url_for('static', filename='img/contamehistorias-logo.png') }}">

    <!-- CSS files -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/bulma.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/core_demo.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/js/ggpopover/ggtooltip.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/js/ggpopover/ggpopover.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/js/slick-carousel/slick.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/js/slick-carousel/slick-theme.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/icons.min.css') }}">
  </head>

  <body>

    <div class="hero is-theme-primary">
      <div class="navbar-wrapper navbar-fade navbar-light">
        <div class="hero-head">
          <div class="container">
            <nav class="nav">
              <div class="container big">
                <div class="nav-left">

                    <a href="{{ url_for('pages_tlscovid.home') }}" class="nav-item is-tab nav-inner is-not-mobile">
                      {{ _('Início') }}
                    </a>
                    <a href="{{ url_for('pages_tlscovid.search') }}" class="nav-item is-tab nav-inner is-not-mobile">
                      {{ _('Pesquisar') }}
                    </a>
                  
                </div>

                <div class="nav-right nav-menu">

                  <a href="{{ url_for('pages_tlscovid.about') }}" class="nav-item is-tab nav-inner is-not-mobile">
                    {{ _('Sobre') }}
                  </a>

                  {% if session.get('lang') == "en" %}
                    <a href="{{ url_for('pages_tlscovid.change', new_lang_code='pt') }}"
                      class="nav-item is-tab nav-inner is-not-mobile">
                      <img src="{{ url_for('static', filename='img/flag_pt.svg') }}" width="20" style="margin-right: 5px;">
                      {{ _('Português') }}
                    </a>
                  {% else %}
                    <a href="{{ url_for('pages_tlscovid.change', new_lang_code='en') }}"
                      class="nav-item is-tab nav-inner is-not-mobile">
                      <img src="{{ url_for('static', filename='img/flag_gb.svg') }}" width="20" style="margin-right: 5px;">
                      {{ _('English') }}
                    </a>
                  {% endif %}

                  <!-- Mobile elements -->

                  <a href="{{ url_for('pages_tlscovid.home') }}" class="nav-item is-tab nav-inner is-menu-mobile">
                    {{ _('Início') }}
                  </a>
                  
                  <a href="{{ url_for('pages_tlscovid.search') }}" class="nav-item is-tab nav-inner is-menu-mobile">
                    {{ _('Pesquisar') }}
                  </a>

                  <a href="{{ url_for('pages_tlscovid.about') }}" class="nav-item is-tab nav-inner is-menu-mobile">
                    {{ _('Sobre') }}
                  </a>

                  {% if session.get('lang') == "en" %}
                    <a href="{{ url_for('pages_tlscovid.change', new_lang_code='pt') }}"
                      class="nav-item is-tab nav-inner is-menu-mobile">
                      <img src="{{ url_for('static', filename='img/flag_pt.svg') }}" width="20" style="margin-right: 5px; vertical-align: text-top;">
                      {{ _('Português') }}
                    </a>
                  {% else %}
                    <a href="{{ url_for('pages_tlscovid.change', new_lang_code='en') }}"
                      class="nav-item is-tab nav-inner is-menu-mobile">
                      <img src="{{ url_for('static', filename='img/flag_gb.svg') }}" width="20" style="margin-right: 5px; vertical-align: text-top;">
                      {{ _('English') }}
                    </a>
                  {% endif %}

                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>

      {% block content %}{% endblock %}

      <footer class="footer footer-light-medium" style="margin-left: 0px !important;">
        <div class="container">
          <div class="columns">
            <div class="column is-4">
              <div class="pt-10 pb-10">
                <img class="small-footer-logo" src="" alt="">
                <div class="footer-description pt-10 pb-10">
                  {{ _('O Conta-me Histórias é um projeto científico que permite aos utilizadores criarem automaticamente narrativas de notícias.') }}
                </div>
              </div>
              <div>
                
                <span class="moto">{{ _('Desenvolvido por') }} 
                  <a style="color: #A9ABAC; text-decoration:underline" href="{{ url_for('pages_tlscovid.team') }}"> {{ _('investigadores') }} </a> {{ _('do') }}
                  {% if session.get('lang') == "pt" %}
                    <a style="color: #A9ABAC; text-decoration:underline" target="_blank" href="https://www.inesctec.pt/pt/centros/liaad">Laboratório de Inteligência Artificial e Apoio a Decisão (LIAAD</a> -
                    <a style="color: #A9ABAC; text-decoration:underline" target="_blank" href="https://www.inesctec.pt">INESCTEC</a>), 
                  {% else %}
                    <a style="color: #A9ABAC; text-decoration:underline" target="_blank" href="https://www.inesctec.pt/en/centres/liaad">Artificial Intelligence and Decision Support Laboratory (LIAAD</a> -
                    <a style="color: #A9ABAC; text-decoration:underline" target="_blank" href="https://www.inesctec.pt/en">INESCTEC</a>), 
                  {% endif %}
                </span>

                <span class="moto">
                  {{ _('e afiliados às instituições') }}
                  {% if session.get('lang') == "pt" %}
                    <a style="color: #A9ABAC; text-decoration:underline" target="_blank" href="http://www.ipt.pt/">Instituto Politécnico de Tomar</a> - 
                    <a style="color: #A9ABAC; text-decoration:underline" target="_blank" href="http://www.ci2.ipt.pt/">Centro de Investigação em Cidades Inteligentes (CI2)</a>;
                    <a style="color: #A9ABAC; text-decoration:underline" target="_blank" href="https://sigarra.up.pt/up/">Universidade do Porto</a>;
                  {% else %}
                    <a style="color: #A9ABAC; text-decoration:underline" target="_blank" href="http://www.ipt.pt/?lng=en">Polytechnic Institute of Tomar</a> - 
                    <a style="color: #A9ABAC; text-decoration:underline" target="_blank" href="http://www.ci2.ipt.pt/en/">Smart Cities Research Center (CI2)</a>;
                    <a style="color: #A9ABAC; text-decoration:underline" target="_blank" href="https://sigarra.up.pt/up/en/">University of Porto</a>;
                  {% endif %}
                  <a style="color: #A9ABAC; text-decoration:underline" target="_blank" href="https://www.uibk.ac.at/">{{ _('Universidade de Innsbruck') }}</a>
                </span>

                <br/> <br/>

                <span class="moto">
                  {{ _('O conteúdo deste site é licenciado sob') }} <a
                    href="https://creativecommons.org/licenses/by/4.0/" style="color: #A9ABAC;text-decoration:underline"
                    target="_blank">Creative Commons Attribution 4.0 International license</a>.
                </span>

              </div>
            </div>

            <div class="column is-7 is-offset-2">
              <div class="columns">

                <div class="column">
                  <ul class="footer-column">
                    <li class="column-header">
                      {{ _('Conta-me Histórias') }}
                    </li>
                    <li class="column-item"><a href="{{ url_for('pages_tlscovid.about') }}">{{ _('Sobre') }}</a></li>
                    <li class="column-item"><a href="{{ url_for('pages_tlscovid.team') }}">{{ _('Equipa') }}</a></li>
                    <li class="column-item"><a href="{{ url_for('pages_tlscovid.press') }}">{{ _('Media') }}</a></li>
                    <li class="column-item"><a target="_blank" href="https://github.com/LIAAD/TemporalSummarizationFramework">{{ _('Open Source') }}</a></li>
                    <li class="column-item"><a target="_blank" href="https://play.google.com/store/apps/details?id=com.app.projetofinal">{{ _('Aplicação Móvel') }}</a></li>
                    <li class="column-item"><a href="mailto:contamehistorias@googlegroups.com"> {{ _('Fale Connosco') }}</a></li>

                    <li class="column-item">______</li>

                    <li class="column-item">
                      {% if session.get('lang') == "en" %}
                        <a href="{{ url_for('pages_tlscovid.change', new_lang_code='pt') }}">
                          <img src="{{ url_for('static', filename='img/flag_pt.svg') }}" width="20" style="vertical-align: text-top;">
                          {{ _('Português') }}
                        </a>
                      {% else %}
                        <a href="{{ url_for('pages_tlscovid.change', new_lang_code='en') }}">
                          <img src="{{ url_for('static', filename='img/flag_gb.svg') }}" width="20" style="vertical-align: text-top;">
                          {{ _('English') }}
                        </a>
                      {% endif %}
                    </li>
                  </ul>
                </div>

                <div class="column">
                  <ul class="footer-column">
                    <li class="column-header">
                      {{ _('Projetos Relacionados') }}
                    </li>
                    <li class="column-item">
                      <a href="http://nlplab.inesctec.pt/tellmestories/" target="_blank">
                        Tell me stories
                      </a>
                    </li>
                    <li class="column-item">
                      <a href="http://yake.inesctec.pt/" target="_blank">
                        YAKE!
                      </a>
                    </li>
                  </ul>
                </div>

              </div>
            </div>
          </div>
        </div>
      </footer>

      <div id="backtotop"><a href="#"></a></div>

      <!-- JS files -->
      <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
      <script src="{{ url_for('static', filename='assets/js/core/jquery.min.js') }}"></script>
      <script src="{{ url_for('static', filename='assets/js/main.js')}}"></script>
      <script src="{{ url_for('static', filename='assets/js/slick-carousel/slick.min.js')}}"></script>
      <script src="{{ url_for('static', filename='assets/js/waypoints/jquery.waypoints.min.js')}}"></script>
      <script src="{{ url_for('static', filename='assets/js/waypoints/sticky.min.js')}}"></script>
      <script src="{{ url_for('static', filename='assets/js/ggpopover/ggtooltip.js')}}"></script>
      <script src="{{ url_for('static', filename='assets/js/ggpopover/ggpopover.min.js')}}"></script>
      <script src="{{ url_for('static', filename='assets/js/datepicker/datepicker.min.js')}}"></script>
      <script src="{{ url_for('static', filename='assets/js/counterup/jquery.counterup.min.js')}}"></script>

      <script>
        $(document).ready(function () {
          
          $('.example-slick').slick({
            autoplay: true,
            autoplaySpeed: 6000,
            dots: true,
            infinite: false,
            speed: 300,
            slidesToShow: 4,
            slidesToScroll: 4,
            responsive: [
              {
                breakpoint: 1024,
                settings: {
                  slidesToShow: 3,
                  slidesToScroll: 3,
                  infinite: true,
                  dots: true
                }
              },
              {
                breakpoint: 600,
                settings: {
                  slidesToShow: 2,
                  slidesToScroll: 2
                }
              },
              {
                breakpoint: 480,
                settings: {
                  slidesToShow: 1,
                  slidesToScroll: 1
                }
              }
            ]
          }
          );
        });
      </script>

  </body>

</html>