{% extends 'layouts/tlscovid/main.html' %}
{% block title %}{{ _('conta-me histórias') }}{% endblock %}
{% block content %}

<div class="hero-body ">
    <div class="container has-text-centered">
        <div class="columns is-vcentered">
            <div class="column is-6 is-offset-3 has-text-centered">

                <h1 class="subtitle components-title is-2 light-text">
                    {{ _('conta-me histórias') }}
                </h1>

                <h1 class="subtitle is-4 light-text">
                    {{ _('Crie uma narrativa de notícias sobre qualquer assunto') }}
                </h1>

            </div>
        </div>
    </div>
</div>

<section class="section is-medium">
    <div class="container">

        <h1 class="subtitle is-4 dark-text" style="text-align:center">{{ _('A pesquisar milhares de notícias sobre') }}
            <b>{{ query }}</b>
        </h1>
        <br>
        <h1 class="subtitle is-4 dark-text" style="text-align:center">
            {{ _('Pode demorar algum tempo...') }}
        </h1>
        <br>
        <div id="loading" style="text-align: center"><img src="{{ url_for('static', filename='img/loading.gif') }}" alt=""/></div>
                
    </div>

</section>

<!-- https://blog.miguelgrinberg.com/post/using-celery-with-flask -->
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script>
    function start_long_task() {
        // add task status elements
        $('#loading').show();

        // parameters
        var query = '{{ query|tojson|safe }}';
        query = JSON.parse(query);

        var index = '{{ index|tojson|safe }}';
        index = JSON.parse(index);
        
        var selected_sources = '{{ selected_sources|tojson|safe }}';
        selected_sources = JSON.parse(selected_sources);

        // send ajax GET request to start background job
        $.ajax({
            type: 'GET',
            url: '/tls-covid19/longtask',
            data: { 'query': query, 'index': index, 'selected_sources': selected_sources},
            traditional: true,
            success: function (data, status, request) {
                status_url = request.getResponseHeader('Location');
                update_progress(status_url);
            },
            error: function (data, status, request) {
                alert('Unexpected error');
            }
        });
    }
    function update_progress(status_url) {
        // send GET request to status URL
        $.getJSON(status_url, function (data) {
            // update UI
            if (data['state'] != 'PENDING' && data['state'] != 'PROGRESS') {
                if ('result' in data) {

                    // handle language code param
                    var route = data['url_for'];

                    const urlParams = new URLSearchParams(window.location.search);
                    
                    let lang = 'pt'
                    if (urlParams.has('lang')) {
                        lang = urlParams.get('lang');
                    }
                    route = data['url_for'] + '&lang=' + lang + '&id=' + data['task_id'];

                    // redirect to show results
                    window.location.href = route;
                }
                else {
                    // something unexpected happened
                }
            }
            else {
                // rerun in 2 seconds
                setTimeout(function () {
                    update_progress(status_url);
                }, 2000);
            }
        });
    }
    $(window).load(start_long_task());
</script>

{% endblock %}